@use '../util/' as *;

.p {
  &-0 {
    padding: 0;
  }

  &-1 {
    padding: 0.5rem;
  }

  &-2 {
    padding: 1rem;
  }

  &-3 {
    padding: 1.75rem;
  }

  &_sm {
    &-0 {
      @include breakpoint-up('sm') {
        padding: 0;
      }
    }

    &-1 {
      @include breakpoint-up('sm') {
        padding: 0.5rem;
      }
    }

    &-2 {
      @include breakpoint-up('sm') {
        padding: 1rem;
      }
    }

    &-3 {
      @include breakpoint-up('sm') {
        padding: 1.75rem;
      }
    }
  }

  &_md {
    &-0 {
      @include breakpoint-up('md') {
        padding: 0;
      }
    }

    &-1 {
      @include breakpoint-up('md') {
        padding: 0.5rem;
      }
    }

    &-2 {
      @include breakpoint-up('md') {
        padding: 1rem;
      }
    }

    &-3 {
      @include breakpoint-up('md') {
        padding: 1.75rem;
      }
    }
  }

  &_lg {
    &-0 {
      @include breakpoint-up('lg') {
        padding: 0;
      }
    }

    &-1 {
      @include breakpoint-up('lg') {
        padding: 0.5rem;
      }
    }

    &-2 {
      @include breakpoint-up('lg') {
        padding: 1rem;
      }
    }

    &-3 {
      @include breakpoint-up('lg') {
        padding: 1.75rem;
      }
    }
  }

  &x {
    &-0 {
      padding-left: 0;
      padding-right: 0;
    }

    &-1 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    &-2 {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &-3 {
      padding-left: 1.75rem;
      padding-right: 1.75rem;
    }

    &_sm {
      &-0 {
        @include breakpoint-up('sm') {
          padding-left: 0;
          padding-right: 0;
        }
      }

      &-1 {
        @include breakpoint-up('sm') {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('sm') {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('sm') {
          padding-left: 1.75rem;
          padding-right: 1.75rem;
        }
      }
    }

    &_md {
      &-0 {
        @include breakpoint-up('md') {
          padding-left: 0;
          padding-right: 0;
        }
      }

      &-1 {
        @include breakpoint-up('md') {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('md') {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('md') {
          padding-left: 1.75rem;
          padding-right: 1.75rem;
        }
      }
    }

    &_lg {
      &-0 {
        @include breakpoint-up('lg') {
          padding-left: 0;
          padding-right: 0;
        }
      }

      &-1 {
        @include breakpoint-up('lg') {
          padding-left: 0.5rem;
          padding-right: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('lg') {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('lg') {
          padding-left: 1.75rem;
          padding-right: 1.75rem;
        }
      }
    }
  }

  &y {
    &-0 {
      padding-top: 0;
      padding-bottom: 0;
    }

    &-1 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    &-2 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &-3 {
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
    }

    &_sm {
      &-0 {
        @include breakpoint-up('sm') {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &-1 {
        @include breakpoint-up('sm') {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('sm') {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('sm') {
          padding-top: 1.75rem;
          padding-bottom: 1.75rem;
        }
      }
    }

    &_md {
      &-0 {
        @include breakpoint-up('md') {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &-1 {
        @include breakpoint-up('md') {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('md') {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('md') {
          padding-top: 1.75rem;
          padding-bottom: 1.75rem;
        }
      }
    }

    &_lg {
      &-0 {
        @include breakpoint-up('lg') {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &-1 {
        @include breakpoint-up('lg') {
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('lg') {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('lg') {
          padding-top: 1.75rem;
          padding-bottom: 1.75rem;
        }
      }
    }
  }

  &b {
    &-0 {
      padding-bottom: 0;
    }

    &-1 {
      padding-bottom: 0.5rem;
    }

    &-2 {
      padding-bottom: 1rem;
    }

    &-3 {
      padding-bottom: 1.75rem;
    }

    &_md {
      &-0 {
        @include breakpoint-up('md') {
          padding-bottom: 0;
        }
      }

      &-1 {
        @include breakpoint-up('md') {
          padding-bottom: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('md') {
          padding-bottom: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('md') {
          padding-bottom: 1.75rem;
        }
      }
    }

    &_lg {
      &-0 {
        @include breakpoint-up('lg') {
          padding-bottom: 0;
        }
      }

      &-1 {
        @include breakpoint-up('lg') {
          padding-bottom: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('lg') {
          padding-bottom: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('lg') {
          padding-bottom: 1.75rem;
        }
      }
    }
  }

  &t {
    &-0 {
      padding-top: 0;
    }

    &-1 {
      padding-top: 0.5rem;
    }

    &-2 {
      padding-top: 1rem;
    }

    &-3 {
      padding-top: 1.75rem;
    }

    &_md {
      &-0 {
        @include breakpoint-up('md') {
          padding-top: 0;
        }
      }

      &-1 {
        @include breakpoint-up('md') {
          padding-top: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('md') {
          padding-top: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('md') {
          padding-top: 1.75rem;
        }
      }
    }

    &_lg {
      &-0 {
        @include breakpoint-up('lg') {
          padding-top: 0;
        }
      }

      &-1 {
        @include breakpoint-up('lg') {
          padding-top: 0.5rem;
        }
      }

      &-2 {
        @include breakpoint-up('lg') {
          padding-top: 1rem;
        }
      }

      &-3 {
        @include breakpoint-up('lg') {
          padding-top: 1.75rem;
        }
      }
    }
  }
}
