.home__contact {
  &:hover {
    .home__contact {
      &--link-indicator {
        > svg {
          opacity: 1;
        }
      }
    }
  }

  &--link-indicator {
    > svg {
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  }
}
