@use '../../assets/stylesheets/util/' as *;

.home__contact {
  &:hover {
    .home__contact {
      &--link-indicator {
        opacity: 1;
      }

      &--icon {
        color: var(--text-200);

        &__wrap::before {
          left: 0;
        }
      }
    }
  }

  > a {
    gap: 0.5em;
  }

  h2 {
    margin-bottom: 0;
  }

  &--link-indicator {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &--icon {
    --dimension: 5em;

    position: relative;
    margin: 0 auto;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 50%;
    background-color: var(--opaque-100);
    transition: color 300ms ease-in-out;

    @include breakpoint-up(lg) {
      --dimension: 8em;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1.75em;
      width: 100%;
      height: 15%;
      border-radius: 50%;
      background: radial-gradient(
        hsla(0, 0%, 0%, 0.25) 0%,
        transparent 50%,
        transparent 100%
      );
    }

    &__wrap {
      position: relative;
      border-radius: inherit;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -150%;
        width: 200%;
        height: 100%;
        // border-radius: inherit;
        background: linear-gradient(
          90deg,
          var(--primary-100) 0%,
          var(--primary-200) 40%,
          transparent 60%
        );
        z-index: -1;
        transition: left 400ms ease-in-out;
      }
    }

    svg {
      font-size: 3.5em;
    }
  }

  @keyframes rotate {
    100% {
      rotate: y 360deg;
    }
  }
}
