@use '../../assets/stylesheets/util/' as *;

.home__contact {
  &:hover {
    .home__contact {
      &--icon {
        color: var(--text-200);

        &__wrap::before {
          left: 0;
        }
      }

      &--link-indicator {
        > svg {
          opacity: 1;
        }
      }
    }
  }

  &--icon {
    --dimension: 6em;

    position: relative;
    margin: 0 auto;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 50%;
    background-color: var(--opaque-100);
    transition: color 300ms ease-in-out;

    @include breakpoint-up(md) {
      --dimension: 8em;
    }

    &__wrap {
      position: relative;
      border-radius: inherit;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -150%;
        width: 200%;
        height: 100%;
        // border-radius: inherit;
        background: linear-gradient(
          90deg,
          var(--primary-100) 0%,
          var(--primary-200) 40%,
          transparent 60%
        );
        z-index: -1;
        transition: left 400ms ease-in-out;
      }
    }

    svg {
      font-size: 3.5em;
    }
  }

  &--link-indicator {
    > svg {
      opacity: 0;
      transition: opacity 300ms ease-in-out;
    }
  }

  @keyframes rotate {
    100% {
      rotate: y 360deg;
    }
  }
}
