@use '../../assets/stylesheets/util/' as *;

.home {
  height: 100%;
  background: radial-gradient(var(--primary-100), var(--bg-100), var(--bg-200));

  &__list {
    height: 100%;
    grid-gap: 0.25rem;

    // sm viewport
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'intro intro'
      'intro intro'
      'contact theme'
      'portfolio portfolio'
      'portfolio portfolio'
      'about abilities';

    // md viewport
    @include breakpoint-up('md') {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
        'intro intro intro'
        'intro intro intro'
        'portfolio portfolio theme'
        'portfolio portfolio abilities'
        'about contact abilities';
    }

    // lg viewport
    @include breakpoint-up('lg') {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas:
        'contact intro intro intro'
        'contact intro intro intro'
        'portfolio portfolio abilities theme'
        'portfolio portfolio abilities about';
    }

    &--item {
      position: relative;

      > a,
      > span {
        --bg-opaque: hsla(215, 50%, 9%, 0.85);

        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        border: 0.05rem solid var(--bg-opaque);
        background-color: var(--bg-opaque);
        backdrop-filter: blur(0.5rem);
        transition: scale 150ms ease-in-out;

        &:hover {
          --bg-opaque: hsla(215, 50%, 9%, 0.95);

          border: 0.05rem solid var(--bg-300);
        }
      }

      > a {
        &:active {
          scale: 0.975;
        }
      }
    }
  }

  &__portfolio {
    grid-area: portfolio;

    a {
      @include breakpoint-up('lg') {
        border-radius: 0 0 0 0.5rem;
      }
    }
  }

  &__abilities {
    grid-area: abilities;

    a {
      border-radius: 0 0 0.5rem 0;

      @include breakpoint-up('lg') {
        border-radius: 0;
      }
    }
  }

  &__about {
    grid-area: about;

    a {
      border-radius: 0 0 0 0.5rem;

      @include breakpoint-up('lg') {
        border-radius: 0 0 0.5rem 0;
      }
    }
  }

  &__contact {
    grid-area: contact;

    a {
      @include breakpoint-up('lg') {
        border-radius: 0.5rem 0 0;
      }
    }
  }

  &__social {
    grid-area: social;
  }
}
