@use '../../assets/stylesheets/util/' as *;

.home__intro {
  grid-area: intro;

  span {
    border-radius: 0.5rem 0.5rem 0 0;

    @include breakpoint-up('lg') {
      border-radius: 0 0.5rem 0 0;
    }
  }

  &--title {
    font-size: clamp(1.15rem, 3vw, 2.5rem);

    &__name {
      font-size: 0.75em;
      font-weight: 200;

      .about-link {
        color: var(--primary-100);
        transition: opacity 100ms ease-in-out;

        &:hover {
          opacity: 0.85;
          text-decoration: underline;
        }
      }
    }

    &__description {
      display: block;
      font-size: 2em;
      font-weight: 500;
      margin-top: 0.25rem;
    }
  }
}
