@use '../../assets/stylesheets/util/' as *;

.logo {
  position: relative;
  font-family: $ff-title;
  font-size: 1.5rem;
  font-weight: 600;

  span {
    display: none;

    @include breakpoint-up('sm') {
      display: inline;
    }
  }
}
