.social {
  &__list {
    &--item {
      &.appear {
        animation: appear 200ms ease-in-out forwards;
      }
      a {
        display: grid;
        transition: color 100ms ease-in-out;

        &:hover,
        &:focus {
          color: var(--primary-100);
        }
      }
    }
  }

  &__slider {
    width: 3rem;
  }

  // Icon sizes
  &-sm {
    font-size: 1.25rem;
  }

  &-md {
    font-size: 1.5rem;
  }

  &-lg {
    font-size: 2rem;
  }
}
